.dollarBlueContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.dollarBlueText {
  color: aquamarine;
  font-weight: bold;
}

.loader {
  display: flex;
  justify-content: center;
}
