body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.default-view {
  padding: 98px 32px 0 98px;
  width: 100%;

  @media (min-width: 1152px) {
    padding: 98px 0 0 230px;
  }
}

.default-view-child {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.default-view-content {
  width: 950px;
}
